<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  <% User.all.each do |user| %>
      <tr>
        <td>
          <% if user == current_user %>
            <%= link_to user.name, mypage_path %>
          <% else %>
            <%= link_to user.name, user_path(user) %>
          <% end %>
        </td>
        <td>：<%= user.email %></td>
      </tr>
  <% end %>
</tbody>
</table>
<br>
<%= link_to "トップページへ", top_path %>